.home {
  background-color: #333;
  box-sizing: border-box;
  padding: 13px;
  text-align: left;
  border-radius: 3px;
  font-size: 16px;
}

.root {
  margin-left: -20px;
}

.tree {
  text-align: left;
  margin-left: 20px;
  transition: all 200ms linear;
  color: #aaa;
}

.tree h4 {
  margin: 3px;
}

.tree.add {
  color: #53a553;
}

.tree.remove {
  color: #e17579;
  text-decoration: line-through;
}

.tree.modify {
  color: #eea111;
}
